/* 네비게이션 부분을 responsive 하게 적용하는 CSS */
@media screen and (max-width:1024px) {
	/* '.mw-body' : 문서 영역 / 'div#footer' : 페이지 하단 부분 (면책 조항 등이 있는 영역) / '#left-navigation' : 문서 상단의 네비게이션 */
	.mw-body, div#footer, #left-navigation { margin-left: 0 !important; }
	/* 상단 패널 의 좌측 여백을 좀 줄임. 기본값은 10em 이어서 여백이 너무 큼. 큰 차이는 없는데? */
	/* #p-personal ul{ padding-left: 2.5em; } */
	#p-logo{
		top: 0px;
		width:50px !important;
		height: 50px !important;
		z-index: 101;
		position: absolute;
		.mw-wiki-logo{
			width: 50px; height: 50px; background-size: 50px;
		}
	}
	/* 사이드 메뉴 네비게이션 영역 */
	#mw-panel {
		/* 내비게이션을 아래로 내림 */
		position:static !important;
		/* 내비게이션 부분을 float 처리 */
		width: inherit !important;
		display: inline-block;
		.portal {
			float: left;
		}
		&:after{
			content: ""; clear: both;
		}
	}

	/* footer의 좌측 여백 */
	#footer { margin-left:0; }
}